body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.gantt-container {
  width: 95%;
  /* max-width: 90%; */
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
}
.gantt-legend {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
.gantt-week {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.gantt-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gantt-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

/*
  - flex-grow = 1, take available space ìn parent container. 
    If multiple flex items with flex-grow: 1, share equally. 
  - Child elements of gantt-bar-container are flex items 
  */
.gantt-bar-container {
  flex-grow: 1;
  position: relative;
  height: 30px;
  /* background: #f0f0f0; */
  display: flex;
  align-items: center;
}

.gantt-legend-container {
  flex-grow: 1;
  position: relative;
  height: 30px;
  background: white;
  display: flex;
  align-items: center;
}

.gantt-bar {
  position: absolute;
  height: 100%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

/* Phase colors */
.phase-backlog {
  background-color: #b0bec5;
}
.phase-pre-execution {
  background-color: #a5d6a7;
}
.phase-execution {
  background-color: #66bb6a;
}
.phase-system-integration {
  background-color: #388e3c;
}
.phase-go-live {
  background-color: #1b5e20;
}

.phase-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.phase-legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.phase-legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}

/* Gantt Bar Colors */
.lane-phase-unknown {
  background-color: rgba(252, 252, 252, 1);
}
.lane-phase-conflict {
  background-color: rgba(255, 241, 243, 0.7);
}
.lane-phase-committed {
  background-color: rgba(230, 255, 230, 0.7);
}
.lane-phase-planned {
  background-color: rgba(250, 249, 240, 0.7);
}
