body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.gantt-container {
  width: 95%;
  /* max-width: 90%; */
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
}
.gantt-legend {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
.gantt-week {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.gantt-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gantt-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

/*
  - flex-grow = 1, take available space ìn parent container. 
    If multiple flex items with flex-grow: 1, share equally. 
  - Child elements of gantt-bar-container are flex items 
  */
.gantt-bar-container {
  flex-grow: 1;
  position: relative;
  height: 30px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
}

.gantt-legend-container {
  flex-grow: 1;
  position: relative;
  height: 30px;
  background: white;
  display: flex;
  align-items: center;
}

.gantt-bar {
  position: absolute;
  height: 100%;
  background-color: #4caf50;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}
